* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clock-container {
  background-color: #7ef804a1;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.6rem;
  text-align: center;
}
.count {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
}
.buttons {
  display: flex;
}
#start {
  border: 0.6px solid black;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  cursor: pointer;
}
#reset {
  border: 0.6px solid black;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  cursor: pointer;
}
#pause {
  border: 0.6px solid black;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  cursor: pointer;
}
