* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
input {
  outline: none;
  padding: 0.21rem;
  border-radius: 0.2rem;
  margin-bottom: 0.6rem;
  border: 1px solid white;
  transition: all 0.2s;
  box-shadow: 0 0 0.1rem black;
  margin-left: 9px;
}
.inputIcon {
  position: absolute;
  padding: 0.1rem;
  border: 1px solid white;
  background-color: #e0e1e2;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
input:hover {
  box-shadow: 0 0 0.2rem black;
}
#copyBtn {
  border: none;
  outline: none;
  padding: 0.3rem 0.8rem;
  border-radius: 0.6rem;
  transition: all 0.6s;
}
#copyBtn:hover {
  box-shadow: 0 0 0.2rem black;
}
#changeBtn {
  border: 1px solid white;
  outline: none;
  padding: 0.6rem 5rem 0.6rem 5rem;
  box-shadow: 0 0 0.1rem black;
  border-radius: 0.6rem;
  transition: all 0.8s;
  background: none;
}
#changeBtn:hover {
  box-shadow: 0 0 0.3rem black;
}
.toast-message {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: rgb(14, 220, 119);
  padding: 0.7rem 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 4px black;
  cursor: pointer;
}
.toast-message-slide-in {
  animation: toast-animation-in 0.8s ease-in;
}
.toast-message-slide-out {
  animation: toast-message-out 0.8s ease-in;
}

@keyframes toast-animation-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes toast-message-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
