* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
}
.posts {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.post {
  width: 23%;
  text-align: center;
  padding: 0.3rem;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  margin: 10px 0px 0px 5px;
  transition: all 0.6s;
}

.post:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .post {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .post {
    width: 95%;
  }
}
